<!--참여한 공구 띄워주는 창 -->
<!--controller : BuySumCtrl-->
<ion-view view-title="구매현황" class="buysum">

    <ion-content has-header="true" has-tabs="true" padding="true">
        <ion-list>
            <!--  <ion-list>
            <ion-item class="item item-thumbnail-left" ng-repeat="category in categories" type="item-text-wrap" href="#/app/categoryShow/{{category.objectId}}">
                <h2>{{category.name}}</h2>
        </ion-list> -->

            <ion-item class="list" ng-repeat="customer in customers | reverse" type="item-text-wrap" href="#/app/categoryShow/{{customer.categoryid}}">
                <div class="row">
                    <div class="col col-50">

                        <img src="{{customer.itemImg}}" style="max-width: 100%; height: auto;">
                    </div>
                    <div class="col col-50">
                        <p id="title"><b>{{customer.categoryTitle}}</b></p>
                        <span style="color:red">&#8361;</span><span ng-bind="customer.categoryPrice"></span>

                        <div>
                            <span>예금주 : </span>
                            <span ng-bind="customer.categorySeller"></span>
                        </div>
                            <p ng-bind="customer.categoryBank"></p>
                            <p ng-bind="customer.categoryAccount"></p>
                            <p ng-bind="customer.optional"></p>
                            <p><span style="color:red">{{customer.state}}</span></p>
                    </div>
                </div>

                <!--


                <h2>{{customer.categoryTitle}}</h2>
                <div><img src={{customer.itemImg}}></div>
                <div ng-bind="customer.categoryPrice"></div>
                <div ng-bind="customer.categorySeller"></div>
                <div ng-bind="customer.categoryBank"></div>
                <div ng-bind="customer.categoryAccount"></div>



                <div ng-bind="customer.get('itemquantity')"></div>
                <span class="input-label">수량
                <input type="number" placeholder="수량" ng-model="category.quantity"></span>
                -->
                </label>
        </ion-list>

    </ion-content>
</ion-view>
