<!-- 판매중인 제품 누르고 해당 제품 클릭하면 들어가는 창
판매완료? -->
<ion-view view-title="구매희망자 정보">

    <ion-content has-header="true" has-tabs="true" padding="true">

        <ion-list>
            <ion-item class="item-text-wrap" ng-repeat="cusinfo in cusinfos | reverse">
                <div class="row">
                    <div class="col col-33">{{cusinfo.customerName}}</div>
                    <div class="col col-67">
                        <p>{{cusinfo.customerPhone}}</p>
                        <p>{{cusinfo.customerAddress}}</p>
                        <p>{{cusinfo.cusoptional}}</p>
                    </div>
                </div>

            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
