/*FONT*/
@font-face {
    font-family: 'dreamofrectangle';
    src:url('../font/dreamofrectangle.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dream1';
    src:url('../font/dream1.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dream2';
    src:url('../font/dream2.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dream4';
    src:url('../font/dream4.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dream6';
    src:url('../font/dream6.ttf');
    font-weight: normal;
    font-style: normal;
}
/*ALL*/
*
{
    font-family: "dream2";
    content: "\f1ee";
    text-size : 97%;
}
.no-padding {
    padding: 0px !important;
}
.buysum #title
{
    font-size:100%;
}
.no-padding {
    padding: 0px !important;
}