
/*WELCOME ENTIRE SETTING*/
/*
.welcome
{
    background-image: url('../img/wcimg.png');
    background-repeat: no-repeat;
    background-size: contain;
}
*/
.welcomecontent {
  background: url('../img/wcimg.png') no-repeat center center fixed;
  background-size: cover;
}

.welcome .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
}

.welcome .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#wcname1 {
    margin-bottom : 30px;
    font-family: "dreamofrectangle";
    content: "\f1ee";
    font-size:500%;
    color : white;
}
#wcname2 {
    margin-bottom : 30px;
    font-family: "dreamofrectangle";
    content: "\f1ee";
    font-size:200%;
    color : white;
}
.welcome .welcomebutton{
    font-family : "dream6";
    color : palevioletred;
}